
/*custom fonts*/
.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 700px;
  }  

.credit-box {
    width: 80%;
    max-width: 800px;
    padding: 30px;
    background-color: rgb(206, 206, 206);
    border: 2px solid #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: "Creepster", system-ui;
    font-size: 30px;
    color:red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* makes it appear in front of everything else*/
}

.button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #5b6269;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
}
.button:hover {
    background-color: #2e3338;
    transform: scale(1.05);
}

/*The main content area will be used to section the information on the page, in a border*/
.mainContent{
    /*this section is used to center all the information in the center of the screen. Centering it both vertically and horizontally*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    /*this is used to create the border to hold the information and sets it to */
    background-image: url("images/grayShadow.png");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%
}

#hill-silhouette{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 65%;
}

#grass-silhouette{
    position:absolute;
    bottom: 0px;
    max-width: 80%;
    max-height: 80%
}

#mansion-silhouette{
    position: absolute;
    top: 30px;
    right: 0px;
    max-width: 40%;
    max-height: 40%;
}

#hands-out-of-ground{
    position:absolute;
    bottom: 20px;
    left:0px;
}

#other-hands-out-of-ground{
    position:absolute;
    bottom: 20px;
    right:200px;
}



/*animations to move the grass side by side*/
/*This will move one image of the grass to the right, then back, in a repeated motion*/
@keyframes grass-right {
    0% {left: 0px; bottom: 0px;}
    50% {left: 50px; bottom: 10px;}
    100% {left: 0px; bottom: 0px;}
 }
 
 #animated-grass-right {
     opacity: 0.5;
     max-width: 80%;
     max-height: 80%;
     position: fixed;
     left: 0px; 
     bottom: 0px; 
     animation-name: grass-right;
     animation-duration: 3s;
     animation-iteration-count: infinite;
 }
 
 /*Animates the grass to move to the left*/
 @keyframes grass-left{
    0% {left: 0px; bottom: 0px;}
    50% {right: 50px; bottom: 10px;}
    100% {left: 0px; bottom: 0px;}
 }

 #animated-grass-left {
    opacity: 0.5;
    max-width: 80%;
    max-height: 80%;
    position: fixed; 
    left: 0; 
    bottom: 0; 
    animation-name: grass-left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


#corner-cloud{
    position:absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
}
