body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    height: 100%;
    
}

#sidebar {
    width: 200px;
    background-color: #bebebe;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    margin: 10px 0;
}

#sidebar a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

#sidebar a:hover {
    color: #aaa;
}

#main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#location-header {
    text-align: center;
    padding: 0px;
    font-size: 24px;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

#image-area {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
   
}

#image-area img {
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-height: 500px;
    width: auto;
}

#text-area {
    flex: 0.7;
    background-color: #333;
    padding: 10px;
    text-align: center;
}

#story-text {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #5b6269;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
}
.button:hover {
    background-color: #2e3338;
    transform: scale(1.05);
}

.link-button{
    color: white;
}
.link-button:hover{
    color: red;
}

#message1, #message2, #message3 {
    display: none;
    margin-top: 20px;
    font-size: 20px;
    color: #f0e68c;
}

#toggle-message1:checked ~ #message1,
#toggle-message2:checked ~ #message2,
#toggle-message3:checked ~ #message3 {
    display: inline-block;
}

@keyframes unmuteAudio {
    0% { volume: 0; } 
    100% { volume: 1; } 
}

#delayed-audio {
    animation: unmuteAudio 0s ease-in 5s forwards; 
}

.jumpscare-container {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

@keyframes flyInFromBottom {
    from {
        transform: translateY(100%) scale(0.5); 
    }
    to {
        transform: translateY(0) scale(1);  
    }
}

.fly-image {
    width: auto; 
    height: 100%; 
    max-width: none; 
    max-height: none; 
    object-fit: contain; 
    animation: flyInFromBottom 1s ease-in-out forwards; 
}

/*ghost animation on the foyer page*/
@keyframes ghost-animation{
    0%{left: 700px; transform: rotate(0deg);}
    15%{left:700px; top:200px; transform: rotate(100deg);}
    40%{left:700px;top:500px; transform:rotate(360deg);}
    60%{left:800px;top:500px;transform:rotate(260deg);}
    70%{left:800px;top:200px; transform:rotate(0deg);}
    100%{left:700px; top:200px;}
}


#ghost{
    position: absolute;
    animation: ghost-animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    height: 100px;
    width: auto;
    left:600px;
    top: 200px;
    
}

/*Henry glowing image on the computer screen*/

@keyframes computer-glow {
    0% { filter: drop-shadow(0 0 20px rgb(51, 0, 255));}
    50% { filter: drop-shadow(0 0 50px rgb(225, 220, 243));}
    100% {filter: drop-shadow(0 0 100px rgb(255, 255, 255));}
  }
  
#henry-computer{
    position:absolute;
    height:110px;
    width: auto;
    left:815px;
    top: 29%;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    animation: computer-glow 2s infinite alternate;
}