.creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 700px;
} 



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#location-header {
    font-family: "Creepster", system-ui;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

#image-area {
    flex: 0.3; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-area img {
    max-width: 80%;
    height: auto;
    border: 5px solid #444;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}


#text-area {
    flex: 0.7;
    background-color: #333;
    padding: 40px;
    text-align: center;
}

#story-text {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 20px;
}


button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}
