/* General body styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    height: 100vh;
}

/* Sidebar navigation */
#sidebar {
    width: 200px;
    background-color: #bebebe;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    margin: 10px 0;
}

#sidebar a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

#sidebar a:hover {
    color: #aaa;
}

/* Main content container */
#main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header for location */
#location-header {
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

/* Main container for image and text */
#game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

/* Image area styling (reduced size) */
#image-area {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

#image-area img {
    max-width: 80%;
    height: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/* Text area styling (increased size) */
#text-area {
    flex: 0.7;
    background-color: #333;
    padding: 40px;
    text-align: center;
}

#story-text {
    font-size: 20px;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* Button styling */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #5b6269;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
}
.button:hover {
    background-color: #2e3338;
    transform: scale(1.05);
}

.link-button{
    color: white;
}
.link-button:hover{
    color: red;
}

#message1, #message2, #message3 {
    display: none;
    margin-top: 20px;
    font-size: 20px;
    color: #f0e68c;
}

/* Show the message when the checkbox is checked */
#toggle-message1:checked ~ #message1,
#toggle-message2:checked ~ #message2,
#toggle-message3:checked ~ #message3 {
    display: inline-block;
}


/*FOR JUMPSCARE*/
/* Keyframes to unmute the audio */
@keyframes unmuteAudio {
    0% { volume: 0; } /* Initially muted */
    100% { volume: 1; } /* Unmuted after the delay */
}

/* Apply the delay */
#delayed-audio {
    animation: unmuteAudio 0s ease-in 10s forwards; /* Delay the unmute for 5 seconds */
}

